img{
	opacity: 0.7;
	width: 1300px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
 }

.img-cap{

	padding: 10px;
	width: 286px;
	left: 60px;
	
	border-radius: 0px;

}

.tstyle{
	text-align: justify;
  text-justify: inter-word;
}

/* social media icons */
 
.fa {
  padding: 1vw;
  font-size: 2vw;
  
  text-align: center;
  text-decoration: none;

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
.fa {
  padding: 1vw;
  font-size:2vw;
  width: vw;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #6d7873;
  color: white;
}

.fa-twitter {
  background: #6d7873;
  color: white;
}

.fa-google {
  background: #6d7873;
  color: white;
}

.fa-linkedin {
  background: #6d7873;
  color: white;
}

.fa-youtube {
  background: #6d7873;
  color: white;
}

.fa-instagram {
  background: #6d7873;
  color: white;
}

.fa-pinterest {
  background: #6d7873;
  color: white;
}

.fa-snapchat-ghost {
  background: #6d7873;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #6d7873;
  color: white;
}

.fa-android {
  background: #6d7873;
  color: white;
}

.fa-dribbble {
  background: #6d7873;
  color: white;
}

.fa-vimeo {
  background: #6d7873;
  color: white;
}

.fa-tumblr {
  background: #6d7873;
  color: white;
}

.fa-vine {
  background: #6d7873;
  color: white;
}

.fa-foursquare {
  background: #6d7873;
  color: white;
}

.fa-stumbleupon {
  background: #6d7873;
  color: white;
}

.fa-flickr {
  background: #6d7873;
  color: white;
}

.fa-yahoo {
  background: #6d7873;
  color: white;
}

.fa-soundcloud {
  background: #6d7873;
  color: white;
}

.fa-reddit {
  background: #6d7873;
  color: white;
}

.fa-rss {
  background: #6d7873;
  color: white;
}
 /* social media end */

 /* button*/

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button4 {border-radius: 12px;}

 /*end*/

 /*cards */

 .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;

 
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
/*end cards*/

.img1{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.img2{
	opacity: 0.3;
}

/* logo*/

.column1{
  float: left;
  width: 15%;
  padding-top: 100px;
  padding-left: 25px;

}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
 
